<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebNutricional</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block menu %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">

  <style type="text/css">
    #enquadramento {
        padding: 20px;
    }
  </style>
</head>
<body>
    <div class="container-fluid">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="{% url 'atendimento_index' %}">WebNutricional</a>
            
            <!-- Links -->
            <ul class="navbar-nav">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Paciente
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'paciente_cadastrar' %}">Cadastrar Paciente</a>
                        <a class="dropdown-item" href="{% url 'entrevista_criar' %}">Nova Entrevista</a>
                        <!-- <a class="dropdown-item" href="#">Prontuário Médico</a>                         -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Equipe 1
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'dieta_criar' %}">Preparo de Dietas</a>   
                    </div>
                    
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Equipe 2
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Alterar Dietas</a>
                        <a class="dropdown-item" href="{% url 'dieta_list' %}">Listagem de Dietas</a>
                        <a class="dropdown-item" href="{% url 'dieta_atualizar' %}">Atualizar Dieta</a>
                    </div>
                    
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Configurações
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'alimento_cadastrar' %}">Cadastrar Alimento</a>
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#"></a>
                    </div>
                    
                </li>
            
                <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link 1</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
                </li> -->
            
                <!-- Dropdown -->
                
            </ul>
        </nav>
    </div>
    </nav>
    {%endblock menu%}
    <div class="container">
    </div>

{%block conteudo %}{%endblock conteudo %}
</div>

</body>
</html>
