{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{%block conteudo %}

<div class="container-fluid">
    <br>
    <h3>Cadastrar Novo Paciente</h3>
    <form action="/atendimento_index/" method="POST">
        <br>
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}<br>
                 {{ field }}
            </div>
        {% endfor %}
        <p><input type="submit" value="Cadastrar" /></p>
    </form>
</div>
{%endblock conteudo %}